# Ignore datasets, experiments, and gyolo folders and files
/coco/
/aggregated_weights/
/backup/
/experiments/
/coco/
/slurm/
/wandb/
/gyolo/wandb

*.pt
gyolo*.sif
*.log

# ignore gyolo 
gyolo/runs/
gyolo/wandb/

# Ignore the contents of data directories, but keep the placeholder READMEs
/datasets/*
!/datasets/README.md
/federated_data/*
!/federated_data/README.md


# Ignore jupyter notebook checkpoint directories
.ipynb_checkpoints/
.vscode

# Ignore python cache files and directories
__pycache__/
*.pyc
*.pyo
